# Dependencies
node_modules/

# Build output
dist/
dist-ssr/
*.tsbuildinfo

# Env files
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# Editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Misc
*.local
coverage/
